@model IEnumerable<EvenementRennes.Models.Evenement>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<style>
    .card {
        margin-top: 2%;
        margin-left: 2%;
        height: fit-content;
        width: 274px;
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
    }

    .card:hover { box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

    .container { padding: 2px 16px; }

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .modal-header {
        padding: 2px 16px;
        background-color: #5cb85c;
        color: white;
    }
</style>
@{
    int i = 0;
    string descriptifRef = "descriptif";
}
<div style="display: flex; margin-top: 10%; height: fit-content; flex-wrap: wrap">
    @foreach (var item in Model)
    {
        var descriptif = descriptifRef + i.ToString();

        <div class="card">
            <div class="container" style="width: auto">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="~/Content/img_avatar.png" alt="Los Angeles">
                        </div>

                        <div class="item">
                            <img src="~/Content/img_avatar1.png" alt="Chicago">
                        </div>

                        <div class="item">
                            <img src="~/Content/img_avatar5.png" alt="New york">
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="container" style="width: auto">
                <div>@Html.DisplayFor(modelItem => item.lieu)</div>
                <div hidden>@Html.DisplayFor(modelItem => item.date)</div>
                <div hidden>@Html.DisplayFor(modelItem => item.duree)</div>
                <div hidden>@Html.DisplayFor(modelItem => item.theme)</div>
                <div id="@descriptif" style="display: none">@Html.DisplayFor(modelItem => item.descriptif)</div>
                <input name="id" hidden value="@item.ID"/>
                <input hidden type="submit" value="Submit" class="submit"/>
                <div style="width: fit-content; margin-left: auto">
                    <button onclick="myFunction('@descriptif')" class="btn">Details</button>
                    <button id="trajetBtn" class="btn">Trajet</button>
                </div>
            </div>
        </div>
        i = i + 1;
    }

    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Adresse de départ</h2>
            </div>
            <div class="modal-body">
                <form method="post" action="@Url.Action("TrajetConvive", "Convive")">
                    <div class="form-group">
                        <input type="text" name="adresse" class="form-control" id="adresse" placeholder="Entrez votre adresse de départ">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>


    <script>
        function myFunction(Ref) {
            var x = document.getElementById(Ref);
            if (x.style.display === 'none') {
                x.style.display = 'block';
            } else {
                x.style.display = 'none';
            }
        }

        function VanillaRequests(method, adress, arguments, parameters) {
            var xhr = new XMLHttpRequest();
            if (method === 'GET') {
                Object.keys(arguments).forEach((key, index) => {
                    if (index !== (arguments.length - 1)) {
                        adress = adress + '?' + key + '=' + arguments(key) + '&';
                    } else {
                        adress = adress + '?' + key + '=' + arguments(key);
                    }
                });
                xhr.open(method, adress);
                xhr.send();
            } else if (method === POST) {
                xhr.open(method, adress);
                xhr.send(parameters);
            }
            xhr.onreadystatechange = function() { //Call a function when the state changes.
                if (xhr.readyState === 4 && xhr.status === 200) {
                    alert(xhr.responseText);
                }
            }
        }


        var modal = document.getElementById('myModal');
// Get the button that opens the modal
        var btn = document.getElementById("trajetBtn");
// Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
// When the user clicks on the button, open the modal 
        btn.onclick = function() {
            modal.style.display = "block";
        }
// When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }
// When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target === modal) {
                modal.style.display = "none";
            }
        }
    </script>
</div>